/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Prevent horizontal overflow globally */
body, html {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;
  overflow: auto;
}

#dark {
  background-color: black;
  color: #f4eee0;
}

/* Apply responsive styles to ensure no overflow on mobile */
@media only screen and (max-width: 767px) {
  /* Prevent body overflow */
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  /* Prevent elements from overflowing their containers */
  .container, .some-element {
    max-width: 100%; /* Ensure elements don't exceed screen width */
    overflow-x: hidden; /* Hide any horizontal overflow */
  }

  /* Ensure that media (images, videos, etc.) do not overflow */
  img, iframe, video {
    max-width: 100%; /* Ensure media is responsive */
    height: auto;
    display: block;
  }
}


/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */

/* Mobile Devices */
@media only screen and (max-width: 767px) {
  .form-container {
    padding: 30px 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .form-group {
    margin-bottom: 15px;
  }

  button {
    font-size: 1.2rem;
    padding: 12px;
  }

  .social-icons a {
    font-size: 1.3rem;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form-container {
    padding: 40px 20px;
  }

  h2 {
    font-size: 1.8rem;
  }

  button {
    font-size: 1.1rem;
    padding: 14px 20px;
  }

  .social-icons a {
    font-size: 1.4rem;
  }
}
